@page "/profil"
@using BlazorControlWork.Data
@inject UserService UserService
@inject NavigationManager NavigationManager
@inject IWebHostEnvironment Environment

<div>
    @if (UserService.user.pathImg != string.Empty)
    {
        <img src="@UserService.user.pathImg" class="fit-picture" />
    }
    else
    {
        <img src="@srcPath" class="fit-picture" />
    }
    <br />
    <label>Name:</label>
    <label>@UserService.user.Name</label>
    <br />
    <label>Login:</label>
    <label>@UserService.user.Login</label>
    <br />
    <label>Email:</label>
    <label>@UserService.user.Email</label>
    <br />
    <button @onclick="LogOut">Log out</button>
    <br />
    <InputFile OnChange="@LoadFiles"/>
    <br />
    <label>@strException</label>
</div>


@code {
    string strException;
    string srcPath;

    private void LogOut()
    {
        UserService.authorizationCheck = false;
        NavigationManager.NavigateTo("/authorization");
    }

    private async Task LoadFiles(InputFileChangeEventArgs e)
    {
        try
        {
            var path = Path.Combine(Environment.ContentRootPath, "wwwroot", "images" , e.File.Name);
            await using FileStream fs = new(path, FileMode.Create);
            await e.File.OpenReadStream().CopyToAsync(fs);
            FileSystemService.UploadImageToDb(e.File.Name, fs);
            srcPath = "images\\" + $"{e.File.Name}";
            UserService.user.pathImg = srcPath;
            MongoExamples.ReplaceByName(UserService.user.Login, UserService.user);
        }
        catch (Exception ex)
        {
            strException = $"{ex.Message}";
        }
    }
}
